<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Comentarios</title>
    <link rel="stylesheet" href="/css/contacto.css">
</head>
<body>
    <div class="contact-container">
        <h1>Comentarios Recibidos</h1>
        <table>
            <thead>
                <tr>
                    <th>Correo</th>
                    <th>Nombre</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                <% comentarios.forEach(function(comentario) { %>
                    <tr>
                        <td><%= comentario.correo %></td>
                        <td><%= comentario.usuario %></td>
                        <td><%= comentario.comentario %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>